.price-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 15px;
  max-width: 380px;
  height: 770px;
  background-color: #334247;
  overflow: hidden;
}
.price-card__title {
  margin: 0;
  margin-top: 30px;
  line-height: 43px;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
}
.price-card__subtitle {
  margin: 0;
  margin-bottom: 36px;
  line-height: 24px;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.price-card__price {
  margin: 0;
  padding: 18px 110px;
  line-height: 67px;
  text-align: center;
  background-color: #5bb189;
  font-size: 55px;
}
.price-card__description {
  margin: 39px 26px 42px 26px;
  line-height: 18px;
  text-align: center;
  font-weight: 300;
  font-size: 15px;
}
.price-card__options-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.price-card__options-list-item {
  display: flex;
  align-items: center;
  padding: 16px auto 16px auto;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  height: 50px;
}
.price-card__options-list-item:nth-child(odd) {
  background: #2A3438;
}
.price-card__options-list-mark {
  margin-left: 22px;
  margin-right: 21px;
  width: 15px;
  height: 13px;
}
.price-card__order-btn {
  margin: 36px auto 42px auto;
  text-align: center;
  line-height: 17px;
  width: 154px;
  height: 40px;
  background-color: #5bb189;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 14px;
  color: #ffffff;
}

.second {
  background-color: #3a6ba5;
}

.third {
  background-color: #ec632a;
}

.popular {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 31px;
  left: 264px;
  background-color: #dc3f45;
  transform: rotate(45deg);
  height: 25px;
  width: 147px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  overflow: hidden;
}

.second {
  background-color: #3a6ba5;
}

.third {
  background-color: #ec632a;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #ffffff;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 1400px;
  height: 1000px;
  background-color: #141b1c;
  margin-bottom: 100px;
}