@import 'variables.scss';
@import 'price-table.scss';
@import 'common.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: $main-color-white;
}


.page {
  height: 100vh;
  display: flex;
  background-color: $main-color-dark;
  align-items: center;
  justify-content: center;
}
