@import 'variables.scss';
@import 'price-table.scss';
@import 'common.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: $main-color-white;
}


.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 1400px;
  height: 1000px;
  background-color: $main-color-dark;
}
