@import 'variables.scss';
@import 'price-table.scss';
@import 'common.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: $main-color-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.page {
  height: 100vh;
  display: flex;
  background-color: $main-color-dark;
  align-items: center;
  justify-content: center;
}
