.price-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 115px;
  margin-bottom: 115px;
  margin-right: 15px;
  max-width: 380px;
  height: 770px;
  background-color: $main-color-dark-light;
  overflow: hidden;
  &__title {
    margin: 0;
    margin-top: 30px;
    line-height: 43px;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
  }
  &__subtitle {
    margin: 0;
    margin-bottom: 36px;
    line-height: 24px;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  &__price {
    margin: 0;
    padding: 18px 110px;
    line-height: 67px;
    text-align: center;
    background-color: $main-color-birch;
    font-size: 55px;
  }
  &__description {
    margin: 39px 26px 42px 26px;
    line-height: 18px;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
  }
  &__options-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  &__options-list-item {
    display: flex;
    align-items: center;
    padding: 16px auto 16px auto;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    height: 50px;
  }
  &__options-list-item:nth-child(odd) {
    background: #2A3438;
  }
  &__options-list-mark {
    margin-left: 22px;
    margin-right: 21px;
    width: 15px;
    height: 13px;
  }
  &__order-btn {
    margin: 36px auto 42px auto;
    text-align: center;
    line-height: 17px;
    width: 154px;
    height: 40px;
    background-color: $main-color-birch;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 14px;
    color: $main-color-white;
  }
}

.second {
  background-color: #3a6ba5;
}

.third {
  background-color: #ec632a;
}

.popular {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 31px;
  left: 264px;
  background-color: $color-red;
  transform: rotate(45deg);
  height: 25px;
  width: 147px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  overflow: hidden;
}
